.body {
    font-family: Arial, sans-serif;   
}
  
.header {
    display: flex;
    align-items: ;
    justify-content: space-evenly;
    padding: 0;
    margin: 2px;
}

button#back-btn {
    padding: 5px;    
}

.toggle {
    display: flex;
    justify-content: flex-end;
}
  
.main {
    padding: 20px;
}
  
.blog-post {
    margin-bottom: 30px;
}
  
h5 {
    text-align: center;
}