
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
form label, form input {
    margin: 0.5rem 0;
  }
  
form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  